<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/main_view.css">
    <link rel="stylesheet" type="text/css" href="/styles/admi_view.css">
    <title>YouEz-Register</title>
    <script type="module" src="scripts/navbar_admi.js" defer></script>
    <script src="/scripts/admi_view.js" defer></script>
</head>
<body>
    <div id="search-results"></div>
    <div id="recargas-container" style="display: none;"></div>
    <u><h1>DownEz</h1></u>

    <div class="container">
        <div class="search-layout">
            <div class="search-container">
                <form class="search-form" id="form-busqueda">
                    <input type="text" id="search-input" placeholder="Buscar por ID o autor...">
                    <button type="submit">Buscar</button>
                </form>
                <div class="filter-checkboxes">
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="imagen"> Imagen</label>
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="video"> Video</label>
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="audio"> Audio</label>
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="author"> Author</label>
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="cliente"> Cliente</label>
                    <label class="filter-label"><input type="checkbox" class="filtro-tipo" value="id"> Id</label>
                </div>
            </div>
            <div id="search-results-admi"></div>
        </div>

    </div>
</body>
