<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/main_view.css">
    <link rel="stylesheet" type="text/css" href="/styles/admi_view.css">
    <title>YouEz-Register</title>
    <script src="scripts/navbar_admi.js" defer></script>
    <script src="/scripts/admi_view.js" defer></script>
</head>
<body>
    <div id="recargas-container" style="display: none;"></div>
    <u><h1>DownEz</h1></u>

    <div class="container">
    </div>
</body>
