<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="/styles/main_view.css">
    <title>YouEz - Content</title>
    <script type="module" src="scripts/navbar_user.js"></script>
    <script type="module" src="/scripts/item_view.js"></script>
</head>
<body>
    <main>
        <div id="search-results"></div>
        <div class="container">
            <p>Cargando...</p>
        </div>
    </main>

</body>
</html>
