<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/main_view.css">
    <title>DownEz-main</title>
    <script src="scripts/navbar_user.js" defer></script>
    <script type="module" src="/scripts/main_view.js" defer></script>
</head>
<body>
    <u><h1>YouEz</h1></u>

    <div class="content-buttons">
        <u><h1>TOP CONTENT MORE DOWNLOADED</h1></u>
        <button id='imagen-top'>Top Imagenes</button>
        <button id='audio-top'>Top Audios</button>
        <button id='video-top'>Top Videos</button>
    </div>
    
    <div class="container">
    </div>
</body>
