<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/styles/main_view.css">
    <title>YouEz-Register</title>
    <script src="scripts/navbar_user.js" defer></script>
    <script src="/scripts/main_view.js"></script>
</head>
<body>
    <u><h1>YouEz</h1></u>

    <div class="content-buttons">
        <u><h1>TOP CONTENT MORE DOWNLOADED</h1></u>
        <button onclick="showContent('image')">Top Imagenes</button>
        <button onclick="showContent('audio')">Top Audios</button>
        <button onclick="showContent('video')">Top Videos</button>
    </div>
    
    <div class="container">
    </div>
</body>
